@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


@font-face {
    font-family: "Qanelas";
    src: url("../fonts/QanelasBold.woff");
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: "Qanelas";
    src: url("../fonts/QanelasLight.woff");
    font-weight: 300; /* Light */
}

@font-face {
    font-family: "Qanelas";
    src: url("../fonts/QanelasMedium.woff");
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: "Qanelas";
    src: url("../fonts/QanelasRegular.woff");
    font-weight: 400; /* Normal */
}
