.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transform--reset {
  transition: all 0.4s ease;
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.subtitle {
  color: #446381;
  font-size: 24px;
}

.title {
  font-family: "Qanelas", "sans-serif";
  color: #446381;
  font-size: 58px;
  font-weight: 700;
}

.no--scroll {
    overflow: hidden;
}